VITE_SUPABASE_URL=https://wfpstbmxuitgvppsugyl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndmcHN0Ym14dWl0Z3ZwcHN1Z3lsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUxMDEwMzQsImV4cCI6MjA5MDY3NzAzNH0.lijucB983-wZ9UhlvOXjp7Q9yhmJhx8WSvZaaCOo0_o
GEMINI_API_KEY=
